.banner-wrapper
{
    display: flex;
    justify-content: space-around;
    padding-top:60px;
}


.home-wrapper
{
    display: flex;
    justify-content: center;
    min-height:650px;
}


.banner-action-area
{
    margin-top:30px;
}

.banner-action-area > div:nth-child(2)
{
    margin-left:25px;
}


.banner-content h1
{
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size: 3rem;
    color:#616161;
}

.banner-content p
{
    color: #757575;
    line-height: 1.5;
    padding-right:40px;
}

@media screen and (max-width: 1024px)
{
    .banner-wrapper
    {
        flex-wrap: wrap;
    }
}