.banner-wrapper
{
    display: flex;
    justify-content: space-around;
}


.home-wrapper
{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px)
{
    .banner-wrapper
    {
        flex-wrap: wrap;
    }
}