a
{
  text-decoration: none;
  color:#03a9f4;
}

.content-border
{
    width:100%;
    display:flex;
}



@media screen and (max-width: 1366px)
{
  .content-border
  {
    max-width:1200px;
  }

  .content-border > div
  {
    padding:0 20px;
  }
}

@media screen and (min-width: 1367px)
{
  .content-border
  {
    max-width:1366px;
  }
}


footer
{
  height:300px;
  background:#757575;
}


.logo-image
{
    width: 25px;
    position: relative;
    padding-left: 20px;
    top: 11px;
}
